<div id='table'>
<table style='width: 100%;'>
	{% for row in table.rows %}
		<tr>
			{% for cell in row %}
				<td style="color: {{ cell.color }}">
					{% if cell.href %}
						<a href="{{ cell.href }}">{{ cell.text }}</a>
					{% else %}
						{{ cell.text }}
					{% endif %}	
				</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>
</div>